/*STYLES GENERAUX*/
@import url('https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap');
:root {
    --black: #333333;
    --red: #C1272D;
    --shaded-red: #DF9595;
    --green: #00751F;
    --white: #FFFFFF;
    --tWhite: rgba(255,255,255,0.8);
    box-sizing: border-box;
}
*{
    font-family: Cantarell, Avenir, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}



/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: url("CV_WEB/hd1722_small.jpg") #141414;
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: 0 auto;
}

footer{
    border-top: 2px solid #fff;
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
footer a{
    color: var(--tWhite);
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}
#pageContent > p {
    display: flex; 
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 0px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;



}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 155px;
    height: 155px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
   
}
.prez{
    border-bottom: 2px dashed #ccc;
}
.prez div{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: rgb(0, 143, 238);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;

}
.cv p{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}

.cv a:hover{
    color: black;
}

.prez img{
    width: 40px;
    height: 40px;

}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}
































